@mixin empty-box-inner {
    width: 90%;
    height: 70%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1vw;
    line-height: 2vw;
}
